### Report for {{ params.commit_id }}

#### Summary
Date: {{ params.run_date }}

|||
|-|-|
|Project name|{{ params.project_name }}|
|Trigger|{{ params.run_cause }}|
|Project repo|{{ params.repository }}|
|Branch|{{ params.branch }}|
|Diff|{{ params.compare_url }}|
|Build commit id|{{ params.commit_id }}|
|Status|{{ params.status }}|

{% if params.errors %}
#### Errors

{{ params.errors }}

{% endif %}

#### Generated artifacts
URL: [{{ user_payload.artifact_name }}]({{ user_payload.artifact_url }})

{% if user_payload.artifacts %}
#### Generated artifacts
{%- for artifact in user_payload.artifacts %}
 - [{{ artifact.source }}]({{ artifact.target }})
{%- endfor %}

{% endif %}

{% if user_payload.scans %}
#### Scans summary

Build config: {{ user_payload.build_config }}<br/>
SDL upload: {{ user_payload.sdl_upload}}

|Scan|Status|Report|
|-|-|-|
{%- for scan_name, scan_info in user_payload.scans.items() %}
|{{ scan_name }}|{{ scan_info.status }}|{{ scan_info.report }}|

{%- endfor %}

#### Protex scans

{% set number_scan = user_payload.scans['protex'].report | replace("[Obl_Report_protex_c_intelmemorylatencycheckerintelmlc_23388.html](https://ubit-artifactory-or.intel.com/artifactory/celine-or-local/MLC/compliance_scans/", "") | replace("/protex/Obl_Report_protex_c_intelmemorylatencycheckerintelmlc_23388.html)", "") %}
Scan number: {{ number_scan }}

{% set url = 'https://ubit-artifactory-or.intel.com/artifactory/celine-or-local/MLC/compliance_scans/' %}
{% set protex_reports = [
'COS_Report_protex_c_intelmemorylatencycheckerintelmlc_23388.html',
'COS_Report_protex_c_intelmemorylatencycheckerintelmlc_23388.xlsx',
'Obl_Report_protex_c_intelmemorylatencycheckerintelmlc_23388.html',
'Obl_Report_protex_c_intelmemorylatencycheckerintelmlc_23388.xlsx',
'protex_c_intelmemorylatencycheckerintelmlc_23388.html',
'protex_c_intelmemorylatencycheckerintelmlc_23388.xml',
'protex_c_intelmemorylatencycheckerintelmlc_23388_results.xml',
'protex_summary_c_intelmemorylatencycheckerintelmlc_23388.xml'
]
%}

|Report|
|-|
{%- for report in protex_reports %}
|{{ '[' + report + '](' + url + number_scan + '/protex/' + report + ')' }}|
{%- endfor %}

{% endif %}

Celine report for {{ params.project_name }}. Go to [Logs]({{ params.current_job_url }}).
