#
# Copyright 2022 Intel Corporation. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cri-resmgr-agent
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cri-resmgr-agent
rules:
- apiGroups:
  - ""
  - criresmgr.intel.com
  resources:
  - nodes
  - configmaps
  - adjustments
  - labels
  - annotations
  verbs:
  - get
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cri-resmgr-agent
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cri-resmgr-agent
subjects:
- kind: ServiceAccount
  name: cri-resmgr-agent
  namespace: kube-system
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: cri-resmgr-agent
  name: cri-resmgr-agent
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: cri-resmgr-agent
  template:
    metadata:
      labels:
        app: cri-resmgr-agent
        gardener.cloud/role: system-component
    spec:
      hostPID: true
      hostIPC: true
      # give a 30 seconds to uninstall cri-resmgr from the host system
      # this is the default
      terminationGracePeriodSeconds: 30
      serviceAccount: cri-resmgr-agent
      # only install to nodes with containerd
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      containers:
        - name: cri-resmgr-agent
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          image: {{ index .Values.images "gardener-extension-cri-resmgr-agent" }}
          imagePullPolicy: Always # for testing
          command: ["/scripts/install-cri-resmgr.sh"]
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
              add:
              - SYS_CHROOT
            resources:
              requests:
                cpu: 100m
            readOnlyRootFilesystem: true
          volumeMounts:
          - name: resmgrsockets
            mountPath: /var/run/cri-resmgr
          - name: host-volume
            mountPath: /var/host
          - name: host-volume-var-run-cri-resmgr
            mountPath: /var-run-cri-resmgr
            path: /var/run/cri-resmgr/
          - name: cri-resmgr-installation-script
            mountPath: /scripts
          resources:
            limits:
              cpu: 100m
              memory: 512Mi
          readinessProbe:
            exec:
              command: ["/bin/cri-resmgr-agent-probe", "-query", "config-status"]
            initialDelaySeconds: 5
            periodSeconds: 30
          readinessProbe:
            exec:
              command: ["chroot", "/var/host", "bash", "-c", "systemctl status cri-resource-manager", "&&", "/bin/cri-resmgr-agent-probe", "-query", "config-status"]
            failureThreshold: 1
            initialDelaySeconds: 10
            periodseconds: 30
          livenessProbe:
            exec:
              command: ["/bin/cri-resmgr-agent-probe"]
            initialDelaySeconds: 5
            periodSeconds: 30
      volumes:
      - name: resmgrsockets
        hostPath:
          path: /var/run/cri-resmgr
      - name: host-volume
        hostPath:
          path: /
      - name: host-volume-var-run-cri-resmgr
        hostPath:
          path: /var/run/cri-resmgr/
      - name: cri-resmgr-installation-script
        configMap:
          name: cri-resmgr-installation-script
          defaultMode: 0744
