name: Go build and test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
          cache: true

      - name: Verify dependencies
        run: go mod verify

      - name: Build
        run: make build

      - name: Run Unittest
        run: make test

  coverage:
    name: coverage
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - uses: actions/checkout@v3
        # with:
        #   # default fetch-depth is insufficent to find previous coverage notes
        #   fetch-depth: 10

      - name: Run go generate
        run: go generate ./...

      - name: Generate Coverage Report
        run: make generate-coverage

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v1
        with:
          name: coverage-report
          path: ./coverage.html

  golangci-lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
          cache: false

      - uses: actions/checkout@v3

      - name: Run go generate
        run: go generate ./...

      # https://github.com/golangci/golangci-lint-action
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --timeout=5m
          only-new-issues: false 
          # https://github.com/golangci/golangci-lint-action/issues/135
          # Optional: if set to true then the all caching functionality will be complete disabled,
          #           takes precedence over all other caching options.
          skip-cache: false
